*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    position: relative;
    color: #fff;
}
.container{
   
    height: 6rem;
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
}
.container span {
     display:inline-block ;
     text-align: center;
     width: 3.5rem;
    font-size: 3rem;
    position: relative;
}

.clock{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255, 255, 0.2);
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3rem);
}

.container::before{
    content: '';
    height: 5rem;
    width: 5rem;
    background-color: rgb(181, 121, 33);
    border-radius: 0.5rem;
    left: -1.5rem;
    top: -1.5rem;
    z-index: -1;
    position: absolute;
}
.container::after{
    content: '';
    height: 6rem;
    width: 6rem;
    background-color: rgb(130, 39, 56);
    border-radius: 50%;
    right: -1.9rem;
    bottom: -1.9rem;
    z-index: -1;
    position: absolute;
}

.container span::after{
    font-size: 1.3rem;
    position: absolute;
    bottom: -0.85rem;
    left: 50%;
    transform: translate(-50%);
}
#hr::after{
    content: 'hrs';
}
#min::after{
    content: 'mins';
}
#sec::after{
    content: 'sec';
}